<h2 class="page-header" >Search Topic</h2>
<form action="/discussions" method="GET" >
   <div class="form-row"> 
      <div class="form-item">
         <label for="topic">Discusion Topic</label>
         <input type="text" name="topic" value="<%= searchDiscussions.topic %>" />
      </div>
   </div>
   <div class="btn-row form-row-end"> 
      <button class="btn btn-primary" type="submit">Search</button>
   </div>
</form>
<br>
 <%  discussions.forEach(discussion => { %>
   <div class="form-row form-row-end btn-row">
      <div class="form-item author-name"><%= discussion.topic %></div> 
      <div class="btn-row">
         <a class="btn btn-primary"  href="/discussions/<%= discussion.id %>">View</a>
         <a class="btn btn-primary"  href="/discussions/<%= discussion.id %>/edit">Edit</a>
         <%- include('../blocks/deleteForm.ejs', { url: `/discussions/${discussion.id}`}) %>
      </div> 
       
   </div>
   
<%  }); %> 