
<% showClass = locals.loggedIn ? 'show' : '' %>
<% showReply = locals.showReply ? 'show' : '' %>

<div  class="post">
  
  <h3> Article: </h3>
  <div class="discussion">
    <h2 class="page-header"  ><%= discussion.topic %></h2>
    <div class="info-small">Created by: <%= discussion.user.name %> <br>
          Last updated: <%= discussion.dateUpdated.toLocaleString() %>
    </div>
    <p ><%= discussion.text %></p>    
    <div class="grid grid-end">       
      <div class="grid grid-end">
        <div class="grid grid-row">
          <div class="btn-hidden<%=  showClass %>">   
          <a class="btn btn-row btn-primary" href="/discussions/<%= discussion.id %>/edit">Edit</a>        
          </div>
          <div class="btn-hidden<%=  showClass %>">     
            <%- include('../blocks/deleteForm.ejs', 
            {url: `/discussions/${discussion.id}`}) %>         
          </div>
         </div>  
        <a class="btn btn-primary" href="/discussions/<%= discussion.id %>/messages/new">New Message</a>
        <%- include('../blocks/reportForm.ejs', {url:  `/discussions/${discussion.id}/report`}) %>
      </div>      
    </div>
  </div>
 <% if (messages.length > 0) { %>       
    <div class="message">
      <h3 >Messages: </h3> 
      <% messages.forEach(  message => { %> 
        <div class="item grid">
          <div class="info-small">Message written by: <%= message.user.name %> <br> date: <%=  message.dateCreated.toLocaleString() %></div>
          <div class="grid" > 
            <p class="text-window"> <%= message.text %> </p>
              <button class="btn-sm btn-end" onclick="readMore(this)" >Read More</button>
              <hr>
              <div class="grid grid-end">
                <a class="btn btn-primary " href="/messages/<%= message.id %>/replies/new">New Reply</a>
               <%- include('../blocks/reportForm.ejs', {url:  `/messages/${message.id}/report`}) %>   
             </div>
          </div>  
     
                
        <% if ( message.reply.length > 0 ) { %> 
        <div class="grid">
          <div class="reply hide">
          <h4>Replies:</h4>
            <% message.reply.forEach( reply => { %>
            <div class="info-small">
              Reply Written by: <%= reply.user.name %> <br> 
              date: <%= reply.dateCreated.toLocaleString() %>
            </div>  
            <div class="grid" >   
            <p class="text-window"> <%= reply.text %></p>
            <button class="btn-sm btn-end" onclick="readMore(this)" >Read More</button>
            <%- include('../blocks/reportForm.ejs', {url:  `/messages/${message.id}/replies/${reply.id}/report`}) %>
            </div>          
        <%  }) %>
          </div>   <!-- reply -->
          <hr>
          <button class="btn-med " onclick="showReplies(this)" >View Replies</button>
        </div>  
          
        <% } %>    
    </div>  <!-- item -->   
    <%  } ) %>  
    </div> <!-- message -->

    <% } %>   
   


  </div>
  <%- include('../blocks/textMore') %>
  <%- include('../blocks/showReplies.ejs') %>