<h2>Hello, <%= name ? name : "Guest" %> </h2>
<br>
<h3>Posted Discussions</h3> 
<div>
   <% if(discussions.length>0) { %>
    <%  discussions.forEach(discussion => { %>
        <div class="form-row form-row-end btn-row">
           <div class="form-item author-name"><%= discussion.topic %></div> 
           <div class="btn-row">
              <a class="btn btn-primary"  href="/discussions/<%= discussion.id %>">View</a>
              <a class="btn btn-primary"  href="/discussions/<%= discussion.id %>/edit">Edit</a>
              <%- include('../blocks/deleteForm.ejs', { url: `/discussions/${discussion.id}`}) %>
           </div>             
        </div>
        
     <%  }); %>   
  <%   } %>
</div>
<h3>Posted Messages & Replies</h3>
<div>
   <div>
      <% if( messages.length > 0 ) { %>
      <%  messages.forEach( post => { %>
          <div class="form-row form-row-end btn-row">
       <h4> Message:</h4>     
     
             <div class="form-item author-name">topic: <%= post.discussion.topic ? post.discussion.topic : "topic" %>
            written by: <%= post.user.name %>
            </div> 
            <div class="message-post">
               <p class="text-window"><%= post.text %></p>
               <button onclick="readMore(this)" >Read More</button>
            </div>
            <% if(post.user.id==userId){ %> 
           
               <div class="btn-row">
                   <a class="btn btn-primary"  href="/messages/<%= post.id  %>/edit">Edit</a>
                   <%- include('../blocks/deleteForm.ejs', { url: `/messages/${post.id}`}) %>
               </div> 
            <% } %>            
          </div> 
          <% if(post.reply.length > 0) { %>
          <div class="form-item">
            <% post.reply.forEach( reply => { %>
               <% if( reply.user == userId ) { %>
               <div>
                  <div class="form-item author-name">Reply by: <%= name %></div> 
                  <div class="message-post">
                     <p class="text-window"><%= reply.text %></p>
                     <button onclick="readMore(this)" >Read More</button>
                  </div>
                  <div class="btn-row">
                     <a class="btn btn-primary"  href="/messages/<%= post.id  %>/replies/<%= reply.id%>/edit">Edit</a>
                     <%- include('../blocks/deleteForm.ejs', { url: `/messages/${post.id}/replies/${reply.id}`}) %>
                 </div>  
               </div>   
            

         <%   } %>   
         <%   }) %>   
          </div>    
          <% } %>     
       <%  }); %>   
       <%   } %>   
  </div>
</div>
<%- include('../blocks/textMore') %>

