
<h2 class="page-header" >User <%= user.name ?  user.name : "" %> </h2>
<div>
  <h3> Discussions posted by <%= user.name ?  user.name : "" %> :</h3>
  <div class="post">
     <%  discussions.forEach( discussion => { %>
        <div class="form-row form-row-end btn-row">
           <div class="form-item"><%= discussion.topic %></div> 
           <div class="btn-row">
              <a class="btn btn-primary"  href="/discussions/<%= discussion.id %>">View</a>
           </div>            
        </div>      
        <hr class="medium">  
     <%  }); %>
  </div>
</div>
<div class="message">
   <h3> Comments or replies posted by <%= user.name ?  user.name : "" %> </h3>
   <% if (messages.length > 0) { %>   
      <%  messages.forEach(m => { %>
         <div class="item grid">        
            <div class="info-small">
               topic: <%= m.discussion.topic %>, 
               message date: <%= m.dateCreated.toLocaleString() %>, 
            by:  <span class="<%= m.user.name == user.name? 'user' : '' %> " ><%= m.user.name  %>  </span>              
            </div>
               <div class="grid">                 
                  <p class="text-window"> <%= m.text %>  </p>
                  <button class="btn-sm btn-end" onclick="readMore(this)" >Read More</button>
               </div>       
      <% if ( m.reply.length > 0 ) { %>          
         <div class="grid">
         <div class="reply hide">
            <% m.reply.forEach(r => { %>                
                  <div class="grid">
                     <div class="info-small">
                        topic:<%= m.discussion.topic %>, 
                     reply by:   <span class="<%= r.user.name == user.name? 'user' : '' %> " > <%= r.user.name  %>  </span>,                       
                        date: <%= r.dateCreated.toLocaleString() %></div> 
                     <div class="grid">
                        <p class="text-window"> <%= r.text %>  </p>
                        <button class="btn-sm btn-end" onclick="readMore(this)" >Read More</button>
                     </div> 
                  </div>               
          <% }) %>
         </div>
          <button class="btn-med " onclick="showReplies(this)" >View Replies</button>  
         </div> 

      <% }else{ %>
         <span class="btn-med ">No Replies</span> 
      <% } %>   
              
      </div>  
      <%  }); %>
   <% } %>
</div>

<div class="grid">
<hr class="dark">   
<div class="grid  grid-row grid-end">
<div class="center">Report User:</div>  
 <%- include('../blocks/reportForm.ejs', {url:  `/users/${user.id}/report`}) %> 
</div>
</div>

<%- include('../blocks/textMore') %>
<%- include('../blocks/showReplies.ejs') %>